<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%- recipe.title %></li>
    </ol>
  </nav>

<div class="container">
    <h1><%= recipe.title %></h1>
    <img src="<%= recipe.image %>" alt="<%= recipe.title %>" />
    <h2>Ingredients</h2>
    <ul>
        <% recipe.extendedIngredients.forEach(ingredient => {%>
            <li><%= ingredient.original %></li>
        <% }) %>
    </ul>
    <h2>Instructions</h2>
    <ol>
        <% recipe.analyzedInstructions[0].steps.forEach(step => { %>
            <li><%= step.step %></li>
        <% }) %>
    </ol>
</div>